.App {
  text-align: center;
<<<<<<< Updated upstream
  background-color: #282c34;
=======
  background-color: #460C68;
>>>>>>> Stashed changes
  min-height: 100vh;
  color:#F56EB3;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .registration{
    float:right;
    width:50%;
    text-align: right;
  }

  .login{
    float:left;
    width: 50%;
    text-align: left;
  }
}
