.App {
  text-align: center;
  background-color: #6C4AB6;
  min-height: 100vh;
  color: #B9E0FF;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  /*().registration{
    color: red;
    float:right;
    width:50%;
    text-align: right;
  }

  .login{
    color: cyan;
    float:left;
    width: 50%;
    text-align: left;
  }
  */
}
