.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color:white;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .registration{
    float:right;
    width:50%;
    text-align: right;
  }

  .login{
    float:left;
    width: 50%;
    text-align: left;
  }
}
