.header{
    border: 1px solid black;
    max-width:none;    
    text-align: center;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: grey;
    line-height: 30px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    z-index: 1;  /* Make the header appear in front of other elements */

    
    
}

.menu-icon {
    float: left;
  }
  
  h1 {
    text-align: center;
  }
  
  .sign-out-button {
    float: right;
  }